.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 940px;
  min-height: 250px;
  height: fit-content;
  background-color: white;
  border: 1px solid #d9d9d9;
  box-shadow: 0px 22px 106px rgba(0, 0, 0, 0.07),
    0px 9.19107px 44.2843px rgba(0, 0, 0, 0.0503198),
    0px 4.91399px 23.6765px rgba(0, 0, 0, 0.0417275),
    0px 2.75474px 13.2728px rgba(0, 0, 0, 0.035),
    0px 1.46302px 7.04911px rgba(0, 0, 0, 0.0282725),
    0px 0.608796px 2.93329px rgba(0, 0, 0, 0.0196802);
  border-radius: 6px;
  margin: 60px auto 0 auto;
  padding: 50px 30px;

  .error {
    color: red;
    margin: 5px 0 10px 0;
  }

  input {
    width: 875px;
    margin-top: 5px;
  }

  .textarea {
    height: 170px;
    margin-top: 5px;
  }

  button {
    width: 300px;
  }

  .taglist {
    div {
      display: inline-block;
      vertical-align: middle;
    }

    input {
      width: 300px;
      height: 40px;
      border: 1px solid #d9d9d9;
      border-radius: 4px;
      margin-right: 10px;
      padding-left: 10px;
      margin-bottom: 5px;
    }

    button {
      width: 120px;
      height: 40px;
      background-color: white;
      border-radius: 4px;
      margin-right: 10px;
      margin-bottom: 5px;
    }

    .deletebutton {
      border: 1px solid #f5222d;
      color: #f5222d;
      align-items: center;
      justify-content: center;
    }

    .addbutton {
      border: 1px solid #1890ff;
      color: #1890ff;
      align-items: center;
      justify-content: center;
    }
  }
}
